* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    max-width: 480px;
    background-color: #222;
    display: flex;
    flex-direction: column;
}

.album {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    transition: 0.5s ease;
}

.imagem {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #292929;
}

.img {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.playlist {
    width: 100%;
    height: 0%;
    overflow: auto;
    transition: 0.5s ease;
}

.playlist p {
    text-align: left;
    padding: 15px;
    color: skyblue;
    border-bottom: dimgrey 1px solid;
}

.controle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30%;
    padding: 10px;
}

p {
    text-align: center;
    color: deepskyblue;
    font-size: larger;
}

.legenda {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#iconeplaylist {
    width: 10%;
}

.nomefaixa {
    width: 80%;
    margin-left: 10%;
}

#tempos {
    display: flex;
    height: 40px;
    justify-content: space-between;
}

#tempos div {
    line-height: 40px;
}

.text-blue {
    color: #128cfd;
    font-size: 2rem;
}

#botoes {
    display: flex;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

button {
    width: 25%;
    height: 60%;
    background-color: #222;
    border: none;
    outline: none;
    font-size: x-large;
    border-radius: 50%;
}

.angle {
    width: 30%;
    height: 70%;
}

.gold {
    color: #f0ffff;
}

#playPause  {
    font-size: 3.5rem;
}

#barra {
    width: 100%;
    height: 6px;
    background-color: darkgray;
    border-radius:10px;
}

#progresso {
    height: 6px;
    border-radius: 10px;
}